[[source]]
url = "http://git.fenrys.io:3141/root/pypi/+simple"
verify_ssl = false
name = "pypi"

[packages]
flask = "*"
pymongo = "*"
flask-restful = "*"
flask-httpauth = "*"
pymysql = "*"
"pathlib2" = "*"
morfessor = "*"
unidecode = "*"
python-dotenv = "*"
sentry-sdk = "==0.6.9"
loguru = "*"
dependency-injector = "*"
ddd-es = "==1.3.3"
abstract-queue = "==1.0"
apscheduler = "*"
gunicorn = "*"
pygrate = "==0.0.3"
pyyaml = "*"

[dev-packages]
pytest-flask = "*"
rope = "*"
"flake8" = "*"
black = "==18.9b0"
"flake8-docstrings" = "*"
bandit = "*"
pytest-cov = "*"
pytest = "*"
pytest-mock = "*"
mongomock = "*"
vulture = "*"
isort = "*"
fakeredis = "*"
faker = "*"
